.menu_links {
    color: white;
    background-color: #28a745; /* This is a complimentary green color. Adjust to your preference. */
    font-family: 'Courier New', Courier, monospace;
    font-size:x-large
}
.before-colon {
    font-weight: bold;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}
.menu_links_soundcloud {
    color: white;
    background-color: #ff8800; /* This is a complimentary orange color. Adjust to your preference. */
    font-family: 'Courier New', Courier, monospace;
    font-size:x-large
}